<div class="bg-slate-200">
  <div class="flex items-center justify-center h-screen">
    <div class="bg-white rounded-lg shadow-lg p-8 max-w-lg">
      <h1 class="text-2xl font-bold mb-4 text-center">نتیجه تراکنش</h1>

      <div class="p-4 rounded mb-4" [class]="statusComputedClass()">
        <span class="font-semibold">{{ statusComputedText() }}</span>
      </div>
      <div class="flex flex-col gap-6">
        <div class="flex justify-start gap-4">
          <span class="font-semibold"> شماره سفارش :</span>
          <span>{{ uniqueId }}</span>
        </div>
        <div class="flex justify-start gap-4">
          <span class="font-semibold">مبلغ:</span>
          <span>{{ amount }} تومان</span>
        </div>
        <button
          class="bg-emerald-500 text-white p-2 w-[100px] text-center m-auto rounded-md"
          (click)="back()"
        >
          بازگشت
        </button>
      </div>
    </div>
  </div>
</div>
